*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
}

.navb{
  background-color: #49166d;
}

.shdw{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon{
width: 4em;
}

.icon2{
  width: 8em;
}

.sumry{
  background-color: #49166d;
  color: white;
  font-size: large;
}

.beba{
  font-family: 'Arimo', sans-serif;
  font-size: xx-large;
}

.purpl{
  background-color: #d4b7e9;
}

.accom{
  box-shadow: 0 4px 8px 0 rgba(102, 204, 0, 0.2), 0 6px 20px 0 rgba(102, 204, 0, 0.19);
  border-radius: 2em;
  align-items: center;
}

.accomdiv{
  border-radius: 50%;
  padding: .2em;
  width: 4em;
}

.accomimg{
  height: 3em;
}

.accosm{
  font-size: small;
}

.sumicns{
  border: 5px dashed #2B8000;
  border-radius: 50%;
  width: 7em;
  height: 6em;
}

.valicn{
  border: 5px dashed #2B8000;
  border-radius: 50%;
  width: 7em;
  height: 6em;
}

.objicn{
  border: 5px dashed #2B8000;
  border-radius: 50%;
  width: 7em;
  height: 6em;
}

.sumicns:hover, .valicn:hover, .objicn:hover{
  transform: scale(1.1);
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #71757B; /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 10% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}